<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UniIntern</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'internship:index' %}">UniIntern</a>
        </div>
          <!-- Toggler/collapsibe Button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'internship:index' %}">
                    <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>&nbsp
                    Internship
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'infrastructure:index' %}">
                    Infrastructure
                </a>
              </li>
            </ul>

            <ul class="navbar-nav">
                <l1 class="nav-item">
                    <a class="nav-link" href="{% url 'userprofile:index' %}">Profile</a>
                </l1>
                <l1 class="nav-item">
                    <a class="nav-link" href="/userprofile/logout">
                        <span class="glyphicon glyphicon-logout" aria-hidden="true"></span>&nbsp
                        Logout
                    </a>
                </l1>
            </ul>
        </div>

    </div>
</nav>
{% block body %}
{% endblock %}
<footer style="margin-top: 10%;text-align: center; padding: 5%; color: white; width: 100%; background-color: black; float: left;">
    <p>UniIntern 2018</p>
    <p>BML Munjal University, Gurgaon</p>
</footer>

</body>
</html>