{% extends 'userprofile/base2.html' %}
{% block body %}
<h1>You have logged out! See you soon</h1>
<div class="container" style="text-align: center; margin-top: 15%;  ">
    <a href="login">
        <button class="btn btn-success" style="padding: 20px 30px;">Login</button>
    </a>
    <a href="register">
        <button class="btn btn-primary" style="padding: 20px 30px;">Register</button>
    </a>

    <a href="/">
        <button class="btn btn-dark" style="padding: 20px 30px;">Home</button>
    </a>

</div>
{% endblock %}
