<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Craft About</title>

    <!-- Bootstrap core CSS -->
    <link href="/media/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/media/css/shop-item.css" rel="stylesheet">

  </head>
  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <img src="/media/craft.PNG" style="height: 50px; width: 50px;"> <a class="navbar-brand" href="#">Craft Legacy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart/">Cart</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<br><br>

</div>
    <!-- /.container -->
    <div class="container">
        <img style="float: left; width: 50%; margin-right: 10%;" src="/media/img/a1.jpg">
        <p style=""><strong>The pursuit of perfection begins with magic.</strong><br>
It all started with a table.

One fine day, a newly married couple decided to buy a dining table for their new home. They looked in all the usual places (flea markets and all sorts of home decor stores) and some unusual places too. But nothing was quite what they had envisioned.

The more they looked, the more they were possessed by the mental image of a vintage-chic, green, distressed finish table. They considered their options: building the table from scratch was an expensive and exhausting affair. Yet settling for something lesser would be a compromise.

After some deeper prodding, they realized what they needed was a touch of their own magic. So they bought a table that fit their size and structure requirements and set about customizing it. After creating the perfect shade of green, they added the distressed ‘vintage’ look by sandpapering and manually adding highlights. They stepped back to behold precisely what they had imagined, right down to the smallest details.

The seed of Zwende was planted.</p>
    </div>
<br><br>
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Craft Legacy 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="media/vendor/jquery/jquery.min.js"></script>
    <script src="media/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>