{% extends 'product/base.html' %}
{% block body %}
    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4" style="background-color: lightblue;">
        <h1 class="display-3">A Warm Welcome!</h1>
        <p class="lead">We are a Luxury lifestyle brand working to bring Art & Design together to make your work and play stylish yet exclusive. Join us on our mission</p>
        <a href="/userprofile/login" class="btn btn-primary btn-lg">Login - Call to action!</a>
      </header>
      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="media/img/c1.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Bags</h4>
              <p class="card-text">A premium store of handmade leather bags, wallets and accessories. These are exclusive designs created with the finest material.</p>
            </div>
            <div class="card-footer">
              <a href="/category/" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="media/img/c2.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Lampshades</h4>
              <p class="card-text">A soft cotton shade block-printed by hand by incredibly skilled craftspeople in a workshop near Jaipur. </p>
            </div>
            <div class="card-footer">
              <a href="/category" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="media/img/c3.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Wallets and Accessories</h4>
              <p class="card-text">Accezory Branded Stylish Genuine Leather Wallet with Designer Stitch For Men.</p>
            </div>
            <div class="card-footer">
              <a href="/category" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="media/img/c4.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Fabrics</h4>
              <p class="card-text">Shopolics Beige-Red and Yellow Bird Pattern Kalamkari Cotton Fabric. </p>
            </div>
            <div class="card-footer">
              <a href="/category" class="btn btn-primary">Find Out More!</a>
            </div>
          </div>
        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
{% endblock %}